.list-group-item {
  line-height: 2.5;
}


body {
  font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  background: rgb(182, 255, 47);
  transition:all .8s ease-in-out;  
}